[Unit]
Description=cliptube directory watcher

[Service]
Type=forking
PidFile=%h/.local/var/run/cliptube-dirwatch.pid
ExecStart=%h/.local/bin/ddirwatch

[Install]
WantedBy=default.target
