[Unit]
Description=cliptube directory watcher

[Service]
User=chris
Group=chris
ExecStart=/home/chris/.local/bin/ddirwatch

[Install]
WantedBy=default.target
