[Desktop Entry]
Type=Application
Name=cliptube
Comment=watch the clipboard for youtube urls
Icon=/home/chris/src/cliptube/image/cliptube.png
Exec=/home/chris/.local/bin/cliptube
Path=/home/chris/src/cliptube
Categories=Network
X-Desktop-File-Install-Version=0.26
