[Unit]
Description=Clipboard watcher

[Install]
WantedBy=default.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/chris/.local/bin/cliptube
