[Unit]
Description=cliptube youtube directory watcher

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/dirwatch

[Install]
WantedBy=default.target

