[Unit]
Description=cliptube youtube directory watcher

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/$USER/.local/bin/dirwatch

[Install]
WantedBy=default.target

