[Unit]
Description=cliptube youtube directory watcher

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/ytwatch

[Install]
WantedBy=default.target
